


/*This is the top navigation bar */
.topnav{
    background-color:#E14658;
    overflow:hidden;
    font-family: Vintage Times;
    src: url(vintage_times.zip);
}

.topnav a{
    float: left;
    display: block;
    color: black;
    text-align:center;
    padding:14px 16px;
    text-decoration: none;
    font-size:xx-large
}
/*This is for when the user hovers over the respective word it wil change color*/
.topnav a:hover{
    background-color:#22252C;
    color:white;
}
/*This will make the page they are on a different color so they are aware of what page they are on*/
.topnav a.active{
    background-color: #22252C;
    color: white;
}

.topnav .icon{
    display: none;
}


/*Body section set up*/
body{
    margin: 25px 50px 75px 100px;
   /* background-image: url(images/sean-sinclair-C_NJKfnTR5A-unsplash.jpg);*/
   background-color: #ffdddd;
    text-align: center;
    overflow:scroll;
    font-size:x-large;
    font-family: codigra;
    src: url(codigra.zip)
}

p{
    font-family:'Times New Roman', Times, serif;
}

img{
    vertical-align: middle;
}

.wrapper{
    width:90%;
    margin: 0 auto;
}

/*This is for the logo stating that it will float to the left next to the navbar*/
.logo{
    float: right;
}
/*This is for the card, it has a box-shadow,margin, size, and font-family*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: auto;
    text-align: center;
    font-family: codigra;
    src: url(codigra.zip)
  }
  
  /*This is for the card button so it sits at the bottom of the card*/
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #3C4659;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  /*Card button hover so user can see the change when hovering over it*/
  .card button:hover {
    opacity: 0.7;
  }

 

  .button5 {border-radius: 50%;}

   /*rows and columns for the about me section*/
   .row1 {
    display: flex;
    width: 100%;
    margin-top: 10px;
    align-items: center;
   }
   .column1 {
    flex: 1 0 0%;
   }
   /*This is for the about me section (Fonts, paddings, setting margins)*/
   .servicemargins {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    margin-left: 2.5rem;
   } 
   /*rounded corners*/
   .roundedcorners {
    border-radius: 25px;
    border: 2px solid #000000;
    background-color: #64C9C6;
    padding: 20px; 
    height: 150px; 
    overflow: auto;
   }
   .AboutInfoMargins {
    margin-top: 2rem;
    margin-bottom: 4rem;
   } 

/* This is the contact section at the bottom of the page before the footer*/
.ContactSecStyle{
    margin-top: 3.5rem;
}
/*Contact section divider font and setup*/
.onedivider{
    font-size: 40px;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}
/*This is the line that divides the contact me section*/
.onedivider::before, .onedivider::after{
    flex: 1;
    content: '';
    padding: 3px;
    background-color: #64C9C6;
    margin: 10px;
}
/*This is everything for the social media icons*/
.fa{
    padding: 40px;
    font-size: 100px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover{
    opacity:0.7;
}

.fa-google{
    background-color: #E14658;
    color:white;
}

.fa-linkedin{
    background-color: #E14658;
    color: white;
}

.fa-instagram{
    background-color: #E14658;
    color: white;
}

